@font-face {
  font-family: "iconfont"; /* Project id 2036340 */
  src: url('iconfont.woff2?t=1692347228861') format('woff2'),
       url('iconfont.woff?t=1692347228861') format('woff'),
       url('iconfont.ttf?t=1692347228861') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shujujihebing:before {
  content: "\e74c";
}

.icon-money:before {
  content: "\e670";
}

.icon-cipinluru:before {
  content: "\e61d";
}

.icon-biaoge:before {
  content: "\e640";
}

.icon-lihua:before {
  content: "\e61c";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-queshengye_zanwushuju:before {
  content: "\e760";
}

.icon-line-barcodeboxtiaoxingma-02:before {
  content: "\e717";
}

.icon-order-mine:before {
  content: "\e6cb";
}

.icon-suoding:before {
  content: "\e61b";
}

.icon-chahao:before {
  content: "\e618";
}

.icon-jiesuo:before {
  content: "\e617";
}

.icon-wenbenshuru:before {
  content: "\e616";
}

.icon-xuanzeqishouqi:before {
  content: "\eb14";
}

.icon-xuanzeqizhankai:before {
  content: "\eb15";
}

.icon-chaxun:before {
  content: "\e615";
}

.icon-riqi:before {
  content: "\e60e";
}

.icon-saomiao:before {
  content: "\e611";
}

.icon-gougou:before {
  content: "\e62a";
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-yonghu:before {
  content: "\e636";
}

.icon-mima:before {
  content: "\e62b";
}

.icon-zhuanhuan:before {
  content: "\e614";
}

.icon-hongqi:before {
  content: "\e608";
}

.icon-gengduo-2:before {
  content: "\e641";
}

.icon-gengduo1:before {
  content: "\e63f";
}

.icon-gengduo2:before {
  content: "\e6cd";
}

.icon-gengduo:before {
  content: "\e66f";
}

.icon-cangkuguanli:before {
  content: "\e623";
}

.icon-cangkuguanlibeifen:before {
  content: "\e639";
}

.icon-ruku1:before {
  content: "\e607";
}

.icon-dingdanruku:before {
  content: "\e60a";
}

.icon-wupinchuku:before {
  content: "\e60d";
}

.icon-kuaidiruku:before {
  content: "\e63d";
}

.icon-chuku:before {
  content: "\e6f0";
}

.icon-ruku2:before {
  content: "\e792";
}

.icon-tongjibaobiao:before {
  content: "\e6d9";
}

.icon-zhuye-fill:before {
  content: "\e61f";
}

.icon-gaiicon-:before {
  content: "\e6d3";
}

.icon-cangkushezhi:before {
  content: "\e631";
}

.icon-jichuzidianziliao:before {
  content: "\e609";
}

.icon-kuneiguanliicon:before {
  content: "\e629";
}

.icon-rukuguanli:before {
  content: "\e7cb";
}

.icon-chukuguanli:before {
  content: "\e7e8";
}

.icon-chukuguanli1:before {
  content: "\e7ec";
}

.icon-rukuguanli1:before {
  content: "\e7ed";
}

.icon-iconplsd:before {
  content: "\e61e";
}

.icon-jurassic_batch-work:before {
  content: "\e6fc";
}

.icon-yanjing:before {
  content: "\e606";
}

.icon-yanjing1:before {
  content: "\e65f";
}

.icon-fuzhiwenjian:before {
  content: "\e603";
}

.icon-wenjian:before {
  content: "\e654";
}

.icon-piliangcaigou:before {
  content: "\e68c";
}

.icon-jiqiren:before {
  content: "\e628";
}

.icon-kuaisuruku:before {
  content: "\e893";
}

.icon-fenkai:before {
  content: "\e619";
}

.icon-kucunchaxun1:before {
  content: "\e6c8";
}

.icon-huoqu:before {
  content: "\e612";
}

.icon-neirongcaiji-biaoqian-yifenpei:before {
  content: "\e676";
}

.icon-dangqian1:before {
  content: "\e604";
}

.icon-yixuanzedebiaoji:before {
  content: "\e6fa";
}

.icon-daoru:before {
  content: "\e635";
}

.icon-biangeng:before {
  content: "\e61a";
}

.icon-shangla:before {
  content: "\e869";
}

.icon-xiala1:before {
  content: "\e602";
}

.icon-xiala:before {
  content: "\e613";
}

.icon-shangla1:before {
  content: "\e868";
}

.icon-wenhao:before {
  content: "\e60c";
}

.icon-ruanjianxiazai:before {
  content: "\e6bc";
}

.icon-ruanjianxiazai1:before {
  content: "\e668";
}

.icon-pandian:before {
  content: "\e627";
}

.icon-zhuangche:before {
  content: "\e671";
}

.icon-buhuo:before {
  content: "\e662";
}

.icon-fahuo:before {
  content: "\e60b";
}

.icon-chaifen:before {
  content: "\e610";
}

.icon-lanjiejian:before {
  content: "\e678";
}

.icon-yiku:before {
  content: "\e692";
}

.icon-jianhuo:before {
  content: "\e63a";
}

.icon-lingcunwei:before {
  content: "\e6ff";
}

.icon-baocun:before {
  content: "\e643";
}

.icon-spsj:before {
  content: "\e605";
}

.icon-erweima:before {
  content: "\e601";
}

.icon-home-fill:before {
  content: "\e867";
}

.icon-user-fill:before {
  content: "\e64e";
}

.icon-ruku:before {
  content: "\e626";
}

.icon-goujian:before {
  content: "\e69c";
}

.icon-xiangmaguanli:before {
  content: "\e600";
}

.icon-gc-icon-video:before {
  content: "\e60f";
}

.icon-yundanguanli:before {
  content: "\e787";
}

